<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>Info Dosen</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->
            <section id="basic-vertical-layouts">
                <section id="basic-horizontal-layouts">
                    <div class="row match-height">
                      <div class="col-md-12 col-12">
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <form class="form form-horizontal">
                                <div class="form-body">
                                  <div class="row">
                                    <div class="col-md-4">
                                        <label>Nama</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <label>Dila si paling sibuk</label>
                                    </div>
                                    <div class="col-md-4">
                                      <label>No HP</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                      <label>Ga punya, HP nyebur ke laut</label>
                                    </div>
                                    <div class="col-md-4">
                                      <label>Status</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                      <label>Ditinggal nikah bg don</label>
                                    </div>
                                    
                                  </div>
                                </div>
                              </form>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section id="basic-vertical-layouts">
                    <div class="row match-height">
                      <div class="col-md-12 col-12">
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <form class="form form-vertical">
                                <div class="form-body">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="form-group">
                                        <label for="first-name-vertical">NIP</label>
                                        <input type="text" id="first-name-vertical" class="form-control" />
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <label for="first-name-vertical">Nama Dosen</label>
                                        <input type="text" id="first-name-vertical" class="form-control" />
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <label for="contact-info-vertical">No HP</label>
                                        <input type="number" id="contact-info-vertical" class="form-control" />
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <label for="first-name-vertical">Status</label>
                                        <input type="text" id="first-name-vertical" class="form-control" />
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <label for="first-name-vertical">Mata Kuliah</label>
                                        <div class="form-group mb-3">
                                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <a href="Admin-dosen.html" class="btn btn-success">Simpan</a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>