<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>INFO CPMK</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->

            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                  <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-horizontal">
                            <div class="form-body">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Nama Mata Kuliah</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                                <div class="col-md-4">
                                  <label>Kode Mata Kuliah</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                                <div class="col-md-4">
                                  <label>SKS</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                                <div class="col-md-4">
                                  <label>Semester</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <section class="section">
                  <div class="row" id="basic-table">
                    <div class="col-12 col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="card-title">CP Program Studi</h6>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div class="table-responsive">
                              <table class="table table-lg">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </section>
                <section id="basic-vertical-layouts">
                  <div class="row match-height">
                      <div class="col-md-12 col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h6 class="card-title">Deskripsi</h6>
                              </div>
                              <div class="card-content">
                                  <div class="card-body">
                                      <form class="form form-vertical">
                                          <div class="form-body">
                                              <div class="row">
                                                  <div class="col-12">
                                                      <div class="form-group">
                                                          <input type="text" id="first-name-vertical" class="form-control"
                                                              name="fname" placeholder="">
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </section>
                      <section id="basic-horizontal-layouts">
                        <div class="row match-height">
                          <div class="col-md-12 col-12">
                            <div class="card">
                              <div class="card-header">
                                <h6 class="card-title">Materi Pembelajaran</h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                  <form class="form form-horizontal">
                                    <div class="form-body">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <label>1.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                        <div class="col-md-4">
                                          <label>2.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                        <div class="col-md-4">
                                          <label>3.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                        <div class="col-md-4">
                                          <label>4.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </section>
                       
                      <section id="basic-horizontal-layouts">
                        <div class="row match-height">
                          <div class="col-md-12 col-12">
                            <div class="card">
                              <div class="card-header">
                                <h6 class="card-title">Pustaka</h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                  <form class="form form-horizontal">
                                    <div class="form-body">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <label>1.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                        <div class="col-md-4">
                                          <label>2.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                        <div class="col-md-4">
                                          <label>3.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                        <div class="col-md-4">
                                          <label>4.</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                          <label></label>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </section>
                       <section class="section">
                        <div class="row" id="basic-table">
                            <div class="col-12 col-md-12">
                                <div class="card">
                                   
                                    <div class="card-content">
                                        <div class="card-body">
                                            <!-- Table with outer spacing -->
                                            <div class="table-responsive">
                                                <table class="table table-lg">
                                                    <thead>
                                                        <tr>
                                                            <th>NAME</th>
                                                            <th>RATE</th>
                                                            <th>SKILL</th>
                                                            <th>NAME</th>
                                                            <th>RATE</th>
                                                            <th>SKILL</th>
                                                            <th>SKILL</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-bold-500">Michael Right</td>
                                                            <td>$15/hr</td>
                                                            <td class="text-bold-500">UI/UX</td>
                                                            <td class="text-bold-500">Michael Right</td>
                                                            <td>$15/hr</td>
                                                            <td class="text-bold-500">UI/UX</td>
                                                            <td>$15/hr</td>
                
                                                        </tr>
                                                        <tr>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td>$15/hr</td>
                
                                                        </tr>
                                                        <tr>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td>$15/hr</td>
                
                                                        </tr>
                                                        <tr>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td>$15/hr</td>
                
                                                        </tr>
                                                        <tr>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td class="text-bold-500">Michael Right</td>
                                                          <td>$15/hr</td>
                                                          <td class="text-bold-500">UI/UX</td>
                                                          <td>$15/hr</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <a href="dosen-cpmk.html" class="btn btn-success">Kembali</a>
                    </section>     
              </section>

            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>