<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Kode Matkul</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" id="first-name" class="form-control" name="kode_matkul"
                                            placeholder="Kode Mata Kuliah">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Mata Kuliah</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="email" id="email-id" class="form-control" name="matkul"
                                            placeholder="Nama Mata Kuliah">
                                    </div>
                                    <div class="col-md-4">
                                        <label>SKS</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input onkeypress="return onlyNumberKey(event)" type="text" id="contact-info" class="form-control" name="sks"
                                            placeholder="SKS">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Semester</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input onkeypress="return onlyNumberKey(event)" type="text" id="password" class="form-control" name="semester"
                                            placeholder="Semester">
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Tambah</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>