<section id="horizontal-input">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-3 col-4">
                                    <p class="col-form-label">Nama Dosen</p>
                                </div>
                                <div class="col-lg-9 col-8">
                                    <p class="col-form-label">Dila si paling macet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-3 col-4">
                                    <p class="col-form-label">NIP</p>
                                </div>
                                <div class="col-lg-9 col-8">
                                    <p class="col-form-label">Belum Dapet, masih mogok kerja</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-3 col-4">
                                    <p class="col-form-label">No HP</p>
                                </div>
                                <div class="col-lg-9 col-8">
                                    <p class="col-form-label">Adanya bluetooth messenger</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-3 col-4">
                                    <p class="col-form-label">Status</p>
                                </div>
                                <div class="col-lg-9 col-8">
                                    <p class="col-form-label">Ditinggal nikah bg don</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-3 col-4">
                                    <a href="./dosen-profile-edit" class="btn btn-outline-primary">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>