<div class="card">
    <div class="card-header">
        <h4 class="card-title">Horizontal Form</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <form class="form form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nama Dosen</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="first-name" class="form-control" name="fname"
                                placeholder="Nama Dosen">
                        </div>
                        <div class="col-md-4">
                            <label>NIP</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input onkeypress="return onlyNumberKey(event)" type="text" id="contact-info" class="form-control" name="contact"
                                placeholder="NIP">
                        </div>
                        <div class="col-md-4">
                            <label>No HP</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input onkeypress="return onlyNumberKey(event)" type="text" id="contact-info" class="form-control" name="contact"
                                placeholder="No HP">
                        </div>
                        <div class="col-md-4">
                            <label>Status</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input type="text" id="first-name" class="form-control" name="fname"
                                placeholder="Status">
                        </div>
                        <div class="col-sm-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>