<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>INFO REFERENSI</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->

            <section id="basic-vertical-layouts">
                <div class="row match-height">
                  <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-vertical">
                            <div class="form-body">
                              <div class="row">
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="first-name-vertical">Title</label>
                                    <div class="card-body">Cyber-security on smart grid: Threats and potential solutions</div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="first-name-vertical">Author</label>
                                    <div class="card-body">Gunduz, Muhammed Zekeriya Das, Resul</div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="contact-info-vertical">Publisher</label>
                                    <div class="card-body">Elsevier B.V.</div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="first-name-vertical">Year</label>
                                    <div class="card-body">2020</div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="first-name-vertical">Description</label>
                                    <div class="card-body">
                                      The smart grid is one of the most significant applications of the Internet of Things (IoT). As information and communication technologies (ICT) developed and applied in traditional power systems, the
                                      improvement of smart grid cyber-physical-systems (CPS) increases too. IoT-based smart grid systems are critical infrastructures, also they have complex architectures and include critical devices. They contain
                                      communication systems that can lead to national security deficits, disruption of public order, loss of life or large-scale economic damage when the confidentiality, integrity, or availability of the
                                      communication is broken down. These huge systems may be vulnerable to cyber-attacks. Therefore, there is a lot of research effort to enhance smart grid security in industry, government, and academia. The
                                      security approaches are important to improve solutions against cyber-attacks in smart grid applications. We present a comprehensive survey supported by a wide review of earlier work. Additionally, recent
                                      advances and countermeasures are presented on smart grid cyber-security. In this paper, the threats and potential solutions of the IoT-based smart grid are analyzed.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                  <a href="dosen-referensi.html" class="btn btn-success">Kembali</a>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>