<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>RPS</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->

            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                  <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-horizontal">
                            <div class="form-body">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Nama Mata Kuliah</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                                <div class="col-md-4">
                                  <label>Kode Mata Kuliah</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                                <div class="col-md-4">
                                  <label>SKS</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                                <div class="col-md-4">
                                  <label>Semester</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label></label>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <section id="basic-vertical-layouts">
                  <div class="row match-height">
                    <div class="col-md-12 col-12">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="card-title">Deskripsi</h6>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <form class="form form-vertical">
                              <div class="form-body">
                                <div class="row">
                                  
                                  <div class="col-12">
                                    <div class="form-group">
                                      
                                      <div class="form-group mb-3">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="basic-vertical-layouts">
                  <div class="row match-height">
                    <div class="col-md-12 col-12">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="card-title">Keterangan</h6>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <form class="form form-vertical">
                              <div class="form-body">
                                <div class="row">
                                  
                                  <div class="col-12">
                                    <div class="form-group">
                                      
                                      <div class="form-group mb-3">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="section">
                  <div class="row" id="basic-table">
                    <div class="col-12 col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="card-title">Pertemuan</h6>
                        </div>
                              <div class="card-content">
                                          <div class="card-body">
                                              <!-- Table with outer spacing -->
                                              <div class="table-responsive">
                                                  <table class="table table-lg">
                                                      <thead>
                                                          <tr>
                                                              <th>No</th>
                                                              <th>Pertemuan</th>
                                                              <th>Topik Pertemuan</th>
                                                              <th>Materi Pembelajaran</th>
                                                              
                                                             
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td class="text-bold-500">1</td>
                                                              <td class="text-bold-500">Pertemuan 1</td>
                                                              <td class="text-bold-500">Naive Bayes Classifier</td>
                                                              <td class="text-bold-500">Project based learning</td>
                                                              
                                                            
                                                          </tr>
                                                          <tr>
                                                              <td class="text-bold-500">2</td>
                                                              <td class="text-bold-500">Pertemuan 2</td>
                                                              <td class="text-bold-500">Clustering K_Means</td>
                                                              <td class="text-bold-500">Casa base method</td>
                                                              
                                                            
                                                          </tr>
                                                          
                                                      </tbody>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                
                      </div>
                    </div>
                </section>
                <section id="basic-vertical-layouts">
                  <div class="row match-height">
                      <div class="col-md-12 col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h6 class="card-title">Reference</h6>
                              </div>
                              
                              <div class="card-content">
                                  <div class="card-body">
                                      <!-- Table with outer spacing -->
                                      <div class="table-responsive">
                                          <table class="table table-lg">
                                              <thead>
                                                  <tr>
                                                      <th>No</th>
                                                      <th>Title</th>
                                                      
                                                     
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td class="text-bold-500">1</td>
                                                      <td class="text-bold-500">Cyber security training for critical infrastructure protection</td>
                                                   
                                                    
                                                  </tr>
                                                  <tr>
                                                      <td class="text-bold-500">2</td>
                                                      <td class="text-bold-500">Cyber-security on smart grid Threats and potential solutions</td>
                                                     
                                                    
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                        </div>
                       </section>
                       <section id="basic-vertical-layouts">
                        <div class="row match-height">
                            <div class="col-md-12 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title">CP</h6>
                                    </div>
                                   
                                    <div class="card-content">
                                        <div class="card-body">
                                            <!-- Table with outer spacing -->
                                            <div class="table-responsive">
                                                <table class="table table-lg">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Deskripsi</th>
                                                           
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-bold-500">1</td>
                                                            <td class="text-bold-500">Mahasiswa mampu bla bla bla blaa</td>
                                                         
                                                          
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold-500">2</td>
                                                            <td class="text-bold-500">Mahasiswa tidak mampu nyenyenyenye</td>
                                                           
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                             </section>
                       
                       <section id="basic-vertical-layouts">
                        <div class="row match-height">
                            <div class="col-md-12 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title">CPMK</h6>
                                    </div>
                                   
                                    <div class="card-content">
                                        <div class="card-body">
                                            <!-- Table with outer spacing -->
                                            <div class="table-responsive">
                                                <table class="table table-lg">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Deskripsi</th>
                                                           
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-bold-500">1</td>
                                                            <td class="text-bold-500">Mahasiswa tidak mampu bla bla bla blaa</td>
                                                         
                                                          
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold-500">2</td>
                                                            <td class="text-bold-500">Mahasiswa mampu nyenyenyenye</td>
                                                           
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                             </section>
                       <section id="basic-vertical-layouts">
                        <div class="row match-height">
                          <div class="col-md-12 col-12">
                            <div class="card">
                              <div class="card-header">
                                <h6>Komponen Penilaian</h6>
                              </div>
                              <div class="card-content">
                                <div class="card-body">
                                  <form class="form form-vertical">
                                    <div class="form-body">
                                      <div class="row">
                                                                    <div class="row">
                                          <div class="col-md-3">
                                            <label>Kuis</label>
                                          </div>
                                          <div class="col-md-1 form-group">
                                            <input type="text" id="first-name" class="form-control" name="fname" />
                                          </div>
                                        </div>
            
                                        <div class="row">
                                          <div class="col-md-3">
                                            <label>Tugas</label>
                                          </div>
                                          <div class="col-md-1 form-group">
                                            <input type="text" id="first-name" class="form-control" name="fname" />
                                          </div>
                                        </div>
            
                                        <div class="row">
                                          <div class="col-md-3">
                                            <label>Sikap</label>
                                          </div>
                                          <div class="col-md-1 form-group">
                                            <input type="text" id="first-name" class="form-control" name="fname" />
                                          </div>
                                        </div>
            
                                        <div class="row">
                                          <div class="col-md-3">
                                            <label>UTS</label>
                                          </div>
                                          <div class="col-md-1 form-group">
                                            <input type="text" id="first-name" class="form-control" name="fname" />
                                          </div>
                                        </div>
            
                                        <div class="row">
                                          <div class="col-md-3">
                                            <label>UAS</label>
                                          </div>
                                          <div class="col-md-1 form-group">
                                            <input type="text" id="first-name" class="form-control" name="fname" />
                                          </div>
                                        </div>
            
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                               <a href="#" class="btn btn-success">Cetak</a> 
                               <a href="mahasiswa-rps.html" class="btn btn-success">Kembali</a>      
              </section>
              
      
      
            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>